@import url("https://fonts.cdnfonts.com/css/arcade-classic");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #1c1b1bfa;
  color: white;
  position: relative;
  overflow: hidden;
}

nav {
  /* position is relavtive to the body element */
  height: 6vh;
  width: 100%;
  padding: 5px 10px;
}

div #display-content {
  position: absolute;
  max-height: 90vh;
  height: 80%;
  width: 80%;
  max-width: 85%;
  overflow-y: scroll;
  background: #1c1b1b;
  text-align: center;
  border: 2px #302d2d solid;
  border-radius: 4px;
  padding: 20px;
}

h1,
h2,
h3,
button {
  font-family: "ArcadeClassic", sans-serif;
}

h1 {
  font-size: 4.5em;
}

h3 {
  font-size: 2em;
}

/* LOOK BACK AT THIS */
main {
  /* position is relative to the body element */
  position: absolute;
  /* use the whole page with vh vw */
  height: 94vh;
  width: 100vw;
  top: 6vh;
  /* display the items within main in the center */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

button {
  display: inline-block;

  font-family: "ArcadeClassic", sans-serif;
  color: black;
  font-size: 24px;

  padding: 10px 10px;
  background: var(--primary-color);
  transition: all 0.2s ease;
  border: none;
  border-radius: 4px;
}

button:hover,
button:active {
  background: var(--primary-color);
  cursor: pointer;
}

input {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 5px 10px;
}

input:focus {
  outline: none;
}

input[type="file"] {
  display: inline-block;
}

input[type="checkbox"] {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  accent-color: var(--primary-color);
}

label {
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  font-family: "ArcadeClassic", sans-serif;
}

/* Apply same border style */
button,
input {
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
}

select {
 border: none;
 border-radius: 4px;
 padding: 5px 10px;
}


form {
  background: #151414e4;
  text-align: center;
  padding: 20px 28px;
  border: 2px #302d2d solid;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  color: aliceblue;
}
a:hover {
  color: #39ff14;
}

.box-styling {
  background-color: var(--box-background-color);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
}

.chat-message-box {
  background-color: #151414e4;
  margin: 0.5rem 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.main-chat-page-format {
  margin: 1rem 1rem;
}

.chatroom-list {
  margin: 0.2rem 0.2rem;
  padding: 0.3rem;
}

li {
  list-style: none;
}

/* class to add to a list or div to add for all list items */
.list-elements li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2b2929b6;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
  border-radius: 4px;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--box-background-color);
}

::-webkit-scrollbar-thumb {
  background: #2b2929b6;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2929;
}

/* horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track:horizontal {
  background: var(--box-background-color);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #2b2929b6;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #2b2929;
}
