@import url("https://fonts.cdnfonts.com/css/arcade-classic");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #1c1b1bfa;
  color: white;
  position: relative;
  overflow: hidden;
}

nav {
  /* position is relavtive to the body element */
  height: 6vh;
  width: 100%;
  padding: 5px 10px;
}

div #display-content {
  height: 90%;
  width: 85%;
  background: #1c1b1b;
  text-align: center;
  border: 2px #302d2d solid;
  border-radius: 4px;
  padding: 20px;
}

h1,
h2,
h3,
button {
  font-family: "ArcadeClassic", sans-serif;
}

h1 {
  font-size: 8em;
}

h3 {
  font-size: 3em;
}

/* LOOK BACK AT THIS */
main {
  /* position is relative to the body element */
  position: absolute;
  /* use the whole page with vh vw */
  height: 94vh;
  width: 100vw;
  top: 6vh;
  /* display the items within main in the center */
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;

  font-family: "ArcadeClassic", sans-serif;
  color: black;
  font-size: 24px;

  padding: 10px 10px;
  background: var(--primary-color);
  transition: all 0.2s ease;
  border: none;
  border-radius: 4px;
}

button:hover,
button:active {
  background: var(--primary-color);
  cursor: pointer;
}

input {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 5px 10px;
}

input:focus {
  outline: none;
}

input[type="file"] {
  display: inline-block;
}

input[type="checkbox"] {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  accent-color: var(--primary-color)
}

label {
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  font-family: "ArcadeClassic", sans-serif;
}

/* Apply same border style */
button,
input {
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
}

form {
  background: #151414e4;
  text-align: center;
  padding: 20px 28px;
  border: 2px #302d2d solid;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  color: aliceblue;
}
a:hover {
  color: #39ff14;
}

.chat-message-box {
  background-color: #151414e4;
  margin: 0.5rem 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.main-chat-page-format {
  margin: 1rem 1rem;
}

.chatroom-list {
  margin: 0.2rem 0.2rem;
  padding: 0.3rem;
}